---
---
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/


/* Images */

.post img{
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.emoji {
  display: inline;
}

/* standard */
.post h1 {
  font-size: 140%;
  font-weight: bold;
  margin-top: 1em;
}

.post h2 {
  font-size: 120%;
  margin-top: .5em;
}


.post {
  list-style-type: none;
}
.post ul, .post ol {
  margin-left: 1.35em;
}

.end {
  margin-top: 1em;
  font-style: italic;
}

/* Post settings */
.post {
  pre {
    padding: 8px 8px;
    overflow-x: scroll;
    margin: .4em;
    background-color: #eef;
    code {
      border: none;
    }
  }

  code {
    padding: 1px 5px;
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0;
  }
}


/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post a, .end a {
  color: #bf5700;
}

.post-row {
  margin-top: 2em;
  margin-bottom: 2em;
}

.output {
    background: #ccc;
    color: black;
    height: 100px;
    overflow: auto;
    font-family: "Consolas","Lucida Console","Monaco",monospace;
    font-size: 9pt;
}

pre {
margin-left: 14px;
font-size: 16px;
line-height: 1.2em;
}

code, pre {
  color: #444;
}

.codeblock{
  padding: 0 .4em;
  margin-left: 14px;
}
.codeblock pre.output{
  margin-left: 0;
  padding: 0;
}

.codeblock p{
  margin-bottom: 0;
}


.warning a {
  color: lightblue;
}

.top-bar {
    background-color: #bf5700 !important;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar .title {
  font-weight: 600;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: #bf5700 !important;
}

/* Tables */

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  tbody {
    tr.odd {
      background: #f9f9f9;
    }
    tr.even {
      background: white;
    }
    tr.hidden {
      display: none;
    }
    tr.notes {
      background-color: #bf5700;
      a {
        color: white;
      }
    }
  }
  .label.notes {
    background-color: #bf5700;
  }
  .label.inclass {
    background-color: #bf5700;
  }
  .label.mode {
    background-color: white;
    color: #bf5700;
    font-weight: bold;
  }
}


tr:hover:not(.notes) td {
  background-color: lightyellow;
}

/*http://stackoverflow.com/questions/32854455/mobile-menu-breakpoint-in-foundation*/
@media only screen and (max-width: 40.063em) {
    meta.foundation-mq-topbar {
        font-family: "/only screen and (min-width:40.063em)/";
        width: 40.063em;
    }

    .top-bar {
      overflow: hidden;
      height: 2.8125rem;
      line-height: 2.8125rem;
      position: relative;
      margin-bottom: 0;
    }


}

/*Footer*/
.full-width {
  max-width: 1400px;
}

.footer {
  background-color: #bf5700;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
}
.footer i {
  font-size: 100px;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    min-height: 100px;
  }
}
.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .5em;
}


/*So small pages are full height*/
/*.main-content-wrapper {*/
/*  min-height: 100%;*/
/*  height: auto !important;*/
/*  height: 100%;*/
/*  margin: 0 auto -200px;*/
/*}*/

footer {
    opacity: 0;
    min-height: 100px;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.2s;
  -moz-animation-duration:0.2s;
  animation-duration:0.2s;

}